body {
    background-color: #d2b48c; /* Bege escuro */
    color: #000; /* Letras pretas */
    font-family: Arial, sans-serif;
    margin: 0; /* Remover margens padrão do body */
  }
  
  header {
    background-color: #8b4513; /* Marrom */
    color: #fff; /* Letras brancas */
    padding: 10px;
    text-align: center;
    font-size: 50px;
  }
  
  main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
  }
  
  section {
    flex: 1;
    margin: 10px;
    padding: 10px;
    background-color: #ffe4b5; /* Cor de trigo, você pode ajustar conforme necessário */
    border-radius: 10px;
  }
  
  section label {
    display: block;
    margin-bottom: 5px;
  }
  
  input[type="radio"],
  input[type="number"],
  input[type="checkbox"] {
    width: 30px; /* Largura padrão para checkboxes e radios */
    height: 20px; /* Altura padrão para checkboxes e radios */
    background-color: transparent;
    margin-right: 5px;
  }
  
  footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #8b4513;
  color: #fff;
  padding: 10px;
  text-align: center;
  z-index: 1; /* Elevar o rodapé para ficar acima do conteúdo */
}
  
  button {
    background-color: #ffe4b5;
    color: #8b4513;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    width: 20%;
  }
  
  button:hover {
    background-color: #8b4513;
    color: #ffe4b5;
  }
  h3 {
    position:relative;
    font-family:'Courier New', Courier, monospace;
    text-align: justify;
}

@media screen and (max-width: 600px) {
  /* Estilos específicos para telas menores que 600 pixels */
  main {
    flex-direction: column; /* Empilhar as seções verticalmente */
    align-items: stretch; /* Esticar as seções verticalmente */
  }

  section {
    flex: 1;
    width: calc(100% - 20px); /* Ocupa a largura total com margens */
    margin: 10px;
    padding: 10px;
  }

  footer {
    position: relative; /* Retorna ao fluxo normal do documento */
  }
}
  
